/.gradle/
/build/
/viikko3/WebLogin/build/
viikko3/WebLogin/build/
/viikko4/MockitoDemo/build/
/viikko4/MaksukorttiMockito/build/
/viikko4/IntJoukkoSovellus/build/
/viikko4/Tennis/build/
/viikko5/LaskinFX11/build/